QWidget {
    background-color: rgb(255, 255, 255);
    color: rgb(16, 0, 155);
    font: 57 13pt Futura;
    border-radius: 15px;
}
QPushButton {
    background-color: rgb(191, 207, 255);
}
QScrollArea #scrollAreaWidgetContents{
    font: 13pt Courier;
}
