QWidget {
    background-color: rgb(255, 255, 255);
    color: black;
    font: 57 15pt Futura;
    border-radius: 15px;
}
QPushButton {
    background-color: rgb(149, 221, 185);
}
QPushButton::pressed {
    background-color : rgb(90, 159, 123);
}
QLineEdit {
    border: 2px solid rgb(149, 221, 185);
    border-radius: 10px;
    padding: 0 8px;
}
QComboBox {
    border: 1px solid rgb(149, 221, 185);
    border-radius: 10px;
    padding: 0 8px;
}
QComboBox::drop-down {
    width: 15px;
    border-left-width: 1px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 10px; /* same radius as the QComboBox */
    border-bottom-right-radius: 10px;
}
QComboBox::down-arrow {
    image: url(:/icons/drop-down-arrow.svg);
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
QScrollBar::handle:horizontal {
    background: rgb(149, 221, 185);
}
QScrollBar::handle:vertical {
    background: rgb(149, 221, 185);
}
QSlider::groove:horizontal {
    border: 1px solid rgb(149, 221, 185);
    background: rgb(149, 221, 185);
    height: 20px;
    width: 40px;
    border-radius: 11px;
}
QSlider::handle:horizontal {
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    width: 18px;
    height: 20px;
    border-radius: 10px;
}
QSpinBox {
    border: 1px solid rgb(149, 221, 185);
    border-radius: 10px;
    padding-right: 15px;
}
QSpinBox::up-button {
    width: 14px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
    border-width: 1px;
}
QSpinBox::down-button {
    width: 14px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
    border-width: 1px;
}
QSpinBox::down-arrow {
    image: url(:/icons/drop-down-arrow.svg);
    width: 12px;
    height: 12px;
}
QSpinBox::up-arrow {
    image: url(:/icons/up-arrow.svg);
    width: 12px;
    height: 12px;
}