QWidget {
    background-color: rgb(255, 255, 255);
    color: black;
    font: 57 15pt "Century Gothic", Futura, Arial;
    border-radius: 15px;
}
QPushButton {
    background-color: rgb(191, 207, 255);
}
QPushButton::pressed {
    background-color : rgb(132, 145, 193);
}
QLineEdit {
    border: 2px solid rgb(191, 207, 255);
    border-radius: 10px;
    padding: 0 8px;
}
QComboBox {
    border: 1px solid rgb(191, 207, 255);
    border-radius: 10px;
    padding: 0 8px;
}
QComboBox::drop-down {
    width: 15px;
    border-left-width: 1px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 10px; /* same radius as the QComboBox */
    border-bottom-right-radius: 10px;
}
QComboBox::down-arrow {
    image: url(:/icons/drop-down-arrow.svg);
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
QScrollBar::handle:horizontal {
    background: rgb(191, 207, 255);
}
QScrollBar::handle:vertical {
    background: rgb(191, 207, 255);
}
